<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  th:replace="fragments :: navbar"/>
<span th:text="'You have ' + ${imageFrom.length} + ' Messages'"></span>
<div th:if="${status == 'downloaded'}">
    <p th:text="'Successfully download file ' + ${newFileName}"></p>
</div>
<div th:if="${status == 'deleted'}">
    <p th:text="'Successfully deleted file '"></p>
</div>
<div th:if="${msg != null}">
    <p th:text="'The message is: '+${msg}"></p>
</div>
<div class="w3-col m6 w3-padding-large">

        <div style="float:left;">
           <form th:object="${friendForm}" th:action="@{/idkfunc}"  method="post">
            View messages from specific friend
            <select name="friend" >
                <option th:each="friend :${friendArray}"
                th:text="${friend}" th:value="${friend}" />
                <!--<ul th:each="friend : ${friendArray}" >
                    <option th:text="${friend}" th:value="${friend}"/>
                </ul>-->

            </select>
              <!-- <button th:onclick="|window.location.href='@{/viewMsgs(fromEmail=${fromEmail})}'|" id="myButton" class="float-left submit-button" >Home</button>-->
               <button class="btn btn-primary" value = "submit" type="submit">Submit form</button>
           </form>          <!-- th:object ="${test}"-->
            <form action="#" th:action="@{/viewMsgs}"  method="post">
                <input type="hidden"  name="email" th:value="${fromEmail}">
             Enter name of file: <input type="text"  name="fileName" id="fileName" class="form-control-file" th:value="${filePath}"  >.png

            <ul th:each="from,itrStat : ${imageArray}" >                    <!--email=${itrStat.index}-->
               <!-- <li th:text="${from.email} + ' at time ' +${from.date}" >  </li> <a th:href="@{/viewMsgs(choice=${itrStat.index})}">Click to Download</a></a>-->

                <div  th:align="left" th:if="${from.fromEmail == email}">
                    <p th:text="'Sent at: '+${from.date}" >  </p>

                    <button type="submit" onClick="return empty()" name="imageString" th:value="${itrStat.index}">Click to download</button>
                    <button type="submit"                          name="delete" th:value="${itrStat.index}">Click to delete</button>
                     <button type="submit"                          name="decode" th:value="${itrStat.index}">Click to decode</button>
                </div>
                <div th:align="right" th:if="${from.fromEmail != email}">
                    <p th:text="'Recieved at: '+${from.date}" >  </p>
                    <button type="submit" onClick="return empty()" name="imageString" th:value="${itrStat.index}">Click to download</button>
                    <button type="submit"                          name="delete" th:value="${itrStat.index}">Click to delete</button>
                    <button type="submit"                          name="decode" th:value="${itrStat.index}">Click to decode</button>
                </div>
                <!--  <p th:text="'from  '+${from.fromEmail} + '  to '+${from.toEmail}+'  at time ' +${from.date}" >  </p>-->
                 </ul>

    </form>
    </div>

</div>

</body>
</html>

<script>
    function empty() {
    var x;
    x = document.getElementById("fileName").value;
    if (x == "") {
        alert("Enter name for image to be downloaded first");
        return false;
    };
}
</script>